Source: chameleon
Section: devel
Priority: optional
Maintainer: Samuel Breese <sbreese@xitol.net>
Build-Depends: debhelper (>=8), libboost-dev (>= 1.42), libboost-python-dev (>= 1.42), libboost-python1.42-dev (>= 1.42), libboost-python1.42.0 (>= 1.42), python-dev
XS-Python-Version: >=2.7
Standards-Version: 3.9.1.0

Package: chameleon
Architecture: all
Depends: ${misc:Depends}
Recommends: python2.7, 
Description: C++ and Python library used to implement a listener-manager event system.
 Chameleon is a C++ and Python library that takes the concept of event-based coding to a
 whole new level. Each event that is raised can be handled by multiple listener classes,
 allowing for things such as asynchronous network servers to be implemented with ease, and 
 letting you add new listeners to your existing codebase without touching your old code. This
 comes in handy when writing scalable servers, games with plugins, etc. In addition, there is no
 main loop (you're responsible for raising all of the events), so it can be integrated with
 existing systems like Twisted, GLUT, GTK+, and Qt.

